@charset "utf-8";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(./fontello.css);
@import url(./normalize.css);

/* 기본 박스 사이징 재설정 */
/* width에 border-width와 padding을 포함하여 계산 */
*, *::before, *::after {
  box-sizing: border-box;
}

/* css module start */

/* 숨김 콘텐츠 */
.a11y-hidden, legend {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip-path: polygon(0 0, 0 0, 0 0);
  /* 현재는 권장되지 않는 과거 문법 */
  clip: rect(0, 0, 0, 0); 
}

/* float 이슈를 해결하기 위한 css 선언 */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* css module end */

/* 기본 설정 start*/

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.4rem;
  color: #181818;
  background-color: #ffffff;
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-weight: 300;
}

/* 기본 설정 end */

.container {
  background-color: silver;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.header, .visual, .main, .slogan, .footer {
  width: 940px;
  margin: 0 auto;
}

.header {
  background-color: #ffffff;
  border-radius: 0 0 15px 15px;
  padding: 0 30px;
  position: relative;
  /* height: 10vh; */
}

/* 로고 */
.logo {
  margin: 0;
  position: absolute;
  top: 45px;
  left: 65px;
}

/* 멤버 링크 */
.member {
  margin: 0;
  padding: 2px 0;
  /* li 불릿기호 쓰지 않기 */
  list-style-type: none;
  text-align: right;
  /* li 요소의 마크업에 줄바꿈이 되어있으면 간격이 발생하는 문제 해결 */
  font-size: 0;
  position: relative;
  right: -10px;
}

.member li, .member a {
  display: inline-block;
}

.member li {
  font-size: 1.4rem;
}

.member li:nth-child(n+2)::before {
  content: ":";
  margin: 0 2px;
}

.member a {
  text-transform: uppercase;
  padding: 8px 10px;
}

.navigation {
  padding-bottom: 50px;
}

.menu {
  height: 47px;
  list-style: none;
  padding-left: 229px;
  margin: 0;
  border-top: 2px solid #000000;
  background: linear-gradient(to bottom, #e8852e 0%,#ed552f 35%,#ed552f 70%,#e8852e 100%);
  /* box-shadow: 0 10px 0 0 #000000; */
  background-color: #ed552f;
  /* position: relative; */
}

.menu-item {
  float: left;
  border-left: 2px solid rgba(255,255,255,0.3);
  position: relative;
  outline: none;
}

.menu-button {
  color: #ffffff;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 45px;
  padding: 0 20px;
  display: block;
  text-shadow: 1px 0 0 #000000, -1px 0 0 #000000, 0 1px 0 #000000, 0 -1px 0 #000000;
  cursor: pointer;
}

.menu-act .menu-button {
  color: #ffff00;
}

.menu-act .menu-button::after {
  content: "";
  display: block;
  border-top: 2px solid #000000;
}

.submenu {
  list-style: none;
  padding-left: 0;
  margin: 0;
  position: absolute;
  display: none;
  /* 개행을 막는 속성 */
  white-space: nowrap;
  top: 47px;
}

.menu-act .submenu {
  display: block;
}

.menu li:nth-child(-n+3) .submenu {
  left: 0;
}

.menu li:nth-child(n+4) .submenu {
  right: 0;
}

.submenu a {
  outline: none;
}

.submenu li, .submenu a {
  display: inline-block;
}

.submenu a {
  padding: 8px 10px;
}

.submenu a:hover, .submenu a.active {
  color: #ff0000;
}

.visual {
  /* background-color: lime; */
  height: 120px;
  position: relative;
  background-image: url(/css/images/bg_flower.png);
}

@keyframes textAni{
  0% {
    font-size: 12px;
    color: rgba(0, 0, 0, 0);
    transform: translate(0, 0);
  }
  100% {
    font-size: 24px;
    color: rgba(0, 0, 0, 1);
    transform: translate(400px, 75px);
  }
}

.visual-text {
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: inline-block;
  /* background-color: yellow; */
  animation-name: textAni;
  animation-duration: 3000ms;
  animation-fill-mode: forwards;
  animation-delay: 1000ms;
  color: rgba(0, 0, 0, 0)
}

@keyframes bgAni {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.visual::before, .visual::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  animation: bgAni 2s infinite alternate;
}

.visual::before {
  background-image: url(./images/ani_flower_01.png), url(./images/ani_flower_02.png);
  background-position: 0 -10px, 670px 0;
}

.visual::after {
  background-image: url(./images/ani_flower_03.png), url(./images/ani_flower_04.png);
  background-position: 300px 0, 800px 0;
  animation-delay: 1s;
}

.main {
  background-color: #ffffff;
  /* padding: 30px 15px; */
  min-height: 450px;
  display: flex;
  /* space-evenly는 패딩 좌우 15px을 주지 않아도 된다 */
  justify-content: space-around;
  padding: 30px 15px;
  /* flex-direction과 flex-wrap을 합쳐서 단축 표현할 수 있다 */
  flex-flow: row wrap;
  border-radius: 15px 15px 0 0;
}

.group {
  /* float: left;
  height: 60vh;
  margin: 0 15px; */
}

.group1 {
  width: 250px;
}

.group2 {
  width: 380px;
}

.group3 {
  width: 190px;
}

/* 로그인 */

.login {
  background-color: #ed552f;
  background-image: radial-gradient(circle at right top, #e8852e, #ed552f);
  box-shadow: 5px 5px 0 0 #aaaaaa;
  border-radius: 5px;
  padding: 10px;
}

.login-heading {
  /* background-color: blue; */
  margin: 0;
  font-size: 1.5rem;
  /* h2 태그를 사용하면 스포카 한 산스가 기본적으로 볼드체를 적용한다
  그러나 임의로 마크업을 수정하는 경우에 대비해 명시적으로 font-weight: 를 줄 수도 있다; */
  /* font-weight: 700; */
  color: #ffff00;
  text-indent: 10px;
}

.login-form {
  background-color: #fff;
  border-radius: 5px 5px 0 0;
  margin-top: 10px;
  padding: 10px 10px 0 10px;
}

.login-form fieldset {
  position: relative;
  border: 0 none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #aaaaaa;
  padding-bottom: 5px;
}

.user-email, .user-pw {
  margin-bottom: 5px;
}

.login-form label {
  width: 4em;
  display: inline-block;
}

.login-form input {
  width: 90px;
  height: 22px;
  border: 1px solid #aaaaaa;
  padding: 1px 1px 1px 5px;
}

.btn-login {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border: 1px solid #ed552f;
  border-radius: 3px;
  background-color: #e8852e;
  color: #ffffff;
  padding: 0;
  font-size: 1.3rem;
  font-weight: 400;
}

.sign {
  background-color: #ffffff;
  border-radius: 0 0 5px 5px;
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 2px 10px;
  font-size: 1.3rem;
}

.sign .icon-right-open::before {
  color: #ed552f;
  margin: 0;
}

.sign a {
  display: inline-block;
  padding: 8px 0;
}

.slogan {
  background-color: orange;
  height: 10vh;
}

.footer-bg {
  background-color: purple;
  width: 100vw;
  /* display: flex;
  justify-content: center; */
}

.footer {
  background-color: yellow;
  height: 10vh;
}