@charset "utf-8";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(./fontello.css);
@import url(./normalize.css);

/* 기본 박스 사이징 재설정 */
/* width에 border-width와 padding을 포함하여 계산 */
*, *::before, *::after {
  box-sizing: border-box;
}

/* css module start */

/* 숨김 콘텐츠 */
.a11y-hidden, legend {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip-path: polygon(0 0, 0 0, 0 0);
  /* 현재는 권장되지 않는 과거 문법 */
  clip: rect(0, 0, 0, 0); 
}

/* float 이슈를 해결하기 위한 css 선언 */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* css module end */

/* 기본 설정 start*/

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.4rem;
  color: #181818;
  background-color: #ffffff;
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-weight: 300;
}

/* 기본 설정 end */

.container {
  background-color: silver;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.header, .visual, .main, .slogan, .footer {
  width: 940px;
  margin: 0 auto;
}

.header {
  background-color: #ffffff;
  border-radius: 0 0 15px 15px;
  padding: 0 30px;
  position: relative;
  /* height: 10vh; */
}

/* 로고 */
.logo {
  margin: 0;
  position: absolute;
  top: 45px;
  left: 65px;
}

/* 멤버 링크 */
.member {
  margin: 0;
  padding: 2px 0;
  /* li 불릿기호 쓰지 않기 */
  list-style-type: none;
  text-align: right;
  /* li 요소의 마크업에 줄바꿈이 되어있으면 간격이 발생하는 문제 해결 */
  font-size: 0;
  position: relative;
  right: -10px;
}

.member li, .member a {
  display: inline-block;
}

.member li {
  font-size: 1.4rem;
}

.member li:nth-child(n+2)::before {
  content: ":";
  margin: 0 2px;
}

.member a {
  text-transform: uppercase;
  padding: 8px 10px;
}

.navigation {
  padding-bottom: 50px;
}

.menu {
  height: 47px;
  list-style: none;
  padding-left: 229px;
  margin: 0;
  border-top: 2px solid #000000;
  background: linear-gradient(to bottom, #e8852e 0%,#ed552f 35%,#ed552f 70%,#e8852e 100%);
  /* box-shadow: 0 10px 0 0 #000000; */
  background-color: #ed552f;
  /* position: relative; */
}

.menu-item {
  float: left;
  border-left: 2px solid rgba(255,255,255,0.3);
  position: relative;
  outline: none;
}

.menu-button {
  color: #ffffff;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 45px;
  padding: 0 20px;
  display: block;
  text-shadow: 1px 0 0 #000000, -1px 0 0 #000000, 0 1px 0 #000000, 0 -1px 0 #000000;
  cursor: pointer;
}


.menu-act .menu-button {
  color: #ffff00;
}

.menu-act .menu-button::after {
  content: "";
  display: block;
  border-top: 2px solid #000000;
}

.submenu {
  list-style: none;
  padding-left: 0;
  margin: 0;
  position: absolute;
  display: none;
  /* 개행을 막는 속성 */
  white-space: nowrap;
  top: 47px;
}

.menu-act .submenu {
  display: block;
}

.menu li:nth-child(-n+3) .submenu {
  left: 0;
}

.menu li:nth-child(n+4) .submenu {
  right: 0;
}

.submenu a {
  outline: none;
}

.submenu li, .submenu a {
  display: inline-block;
}

.submenu a {
  padding: 8px 10px;
}

.submenu a:hover, .submenu a:focus {
  color: #ff0000;
}

.visual {
  /* background-color: lime; */
  height: 120px;
  position: relative;
  background-image: url(/css/images/bg_flower.png);
}

@keyframes textAni{
  0% {
    font-size: 12px;
    color: rgba(0, 0, 0, 0);
    transform: translate(0, 0);
  }
  100% {
    font-size: 24px;
    color: rgba(0, 0, 0, 1);
    transform: translate(400px, 75px);
  }
}

.visual-text {
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: inline-block;
  /* background-color: yellow; */
  animation-name: textAni;
  animation-duration: 3000ms;
  animation-fill-mode: forwards;
  animation-delay: 1000ms;
  color: rgba(0, 0, 0, 0)
}

@keyframes bgAni {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.visual::before, .visual::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  animation: bgAni 2s infinite alternate;
}

.visual::before {
  background-image: url(./images/ani_flower_01.png), url(./images/ani_flower_02.png);
  background-position: 0 -10px, 670px 0;
}

.visual::after {
  background-image: url(./images/ani_flower_03.png), url(./images/ani_flower_04.png);
  background-position: 300px 0, 800px 0;
  animation-delay: 1s;
}

.main {
  background-color: #ffffff;
  /* padding: 30px 15px; */
  min-height: 450px;
  display: flex;
  /* space-evenly는 패딩 좌우 15px을 주지 않아도 된다 */
  justify-content: space-around;
  padding: 30px 15px;
  /* flex-direction과 flex-wrap을 합쳐서 단축 표현할 수 있다 */
  flex-flow: row wrap;
  border-radius: 15px 15px 0 0;
}

.group {
  /* float: left;
  height: 60vh;
  margin: 0 15px; */
}

.group1 {
  width: 250px;
}

.group2 {
  width: 380px;
}

.group3 {
  width: 190px;
}

/* 로그인 */

.login {
  background-color: #ed552f;
  background-image: radial-gradient(circle at right top, #e8852e, #ed552f);
  box-shadow: 5px 5px 0 0 #aaaaaa;
  border-radius: 5px;
  padding: 10px;
}

.login-heading {
  /* background-color: blue; */
  margin: 0;
  font-size: 1.5rem;
  /* h2 태그를 사용하면 스포카 한 산스가 기본적으로 볼드체를 적용한다
  그러나 임의로 마크업을 수정하는 경우에 대비해 명시적으로 font-weight: 를 줄 수도 있다; */
  /* font-weight: 700; */
  color: #ffff00;
  text-indent: 10px;
}

.login-form {
  background-color: #fff;
  border-radius: 5px 5px 0 0;
  margin-top: 10px;
  padding: 10px 10px 0 10px;
}

.login-form fieldset {
  position: relative;
  border: 0 none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #aaaaaa;
  padding-bottom: 5px;
}

.user-email, .user-pw {
  margin-bottom: 5px;
}

.login-form label {
  width: 4em;
  display: inline-block;
}

.login-form input {
  width: 90px;
  height: 22px;
  border: 1px solid #aaaaaa;
  padding: 1px 1px 1px 5px;
}

.btn-login {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border: 1px solid #ed552f;
  border-radius: 3px;
  background-color: #e8852e;
  color: #ffffff;
  padding: 0;
  font-size: 1.3rem;
  font-weight: 400;
}

.sign {
  background-color: #ffffff;
  border-radius: 0 0 5px 5px;
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 2px 10px;
  font-size: 1.3rem;
}

.sign .icon-right-open::before {
  color: #ed552f;
  margin: 0;
}

.sign a {
  display: inline-block;
  padding: 8px 0;
}

/* 유효성 검사 배너 */
.validation-list {
  margin: 25px 0 0 0;
  padding-left: 0;
  list-style: none;
}

.validation-list a {
  display: block;
  border: 1px solid #aaaaaa;
  border-radius: 35px;
  margin-top: 10px;
  padding: 7px 10px 8px 45px;
  background: url(./images/validation_icon.png) no-repeat 20px 50%, #cccccc linear-gradient(180deg, #bbbbbb, #eeeeee);
}

.validation-list a:hover,  .validation-list a:focus{
  color: #ff0000;
}

/* 웹 관련 용어 */
.term {
  background: #cccccc linear-gradient(180deg, #bbbbbb, #eeeeee);
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  margin-top: 20px;
  padding: 15px;
}

.term-heading {
  margin: 0 0 15px 0;
  font-size: 1.6rem;
}

.term-list {
  margin: 0;
}

.term-list dd {
  margin-left: 0;
}

.term-list-subject, .term-list-brief {
  float: right;
  width: 145px;
}

.term-list-subject {
  color: #296897;
  font-weight: 400;
}

.term-list-thumbnail {
  float: left;
}

.term-list-thumbnail img {
  vertical-align: top;
}

.term-list-brief {
  margin-top: 5px;
  line-height: 1.6;
  max-height: 4.8em;
  /* white-space: normal; */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  word-wrap: break-word;
}

/* 웹킷 줄바꿈 예제 */
/* p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
} */
/* 여러줄 줄바꿈 예제 */
/* p {
  position: relative;
  max-height: calc(16 * 1.8 * 3 * 1px);
  font-size: 16px;
  line-height: 1.8;
  word-break: break-all;
  overflow: hidden;
}
p::before,
p::after {
  position: absolute;
  background: #fff;
}
p::before {
  content: '...';
  top: calc(16 * 1.8 * (3 - 1) * 1px);
  right: 0;
  width: 1em;
}
p::after {
  content: '';
  width: 100%;
  height: 100%;
} */

/* 검색 폼 */
.search-form {
  background: #cccccc linear-gradient(180deg, #bbbbbb, #eeeeee);
  border-radius: 15px 15px 0 0;
  padding: 15px 25px 10px 25px;
  border: 1px solid #aaaaaa;
  border-bottom-color: transparent;
}

.search-form fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

.search-form input[type="search"] {
  width: 200px;
  margin: 0 4px;
  padding: 1px 1px 1px .5em;
}

.search-form label, .search-form input[type="search"], .btn-search {
  vertical-align: middle;
}

.search-form input[type="search"], .btn-search {
  height: 24px;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
}

.btn-search {
  color: #ffffff;
  background-color: #333333;
  padding: 0 8px;
  font-size: 1.2rem;
}

/* 공지사항 및 자료실 */
.board {
  width: 380px;
  position: relative;
  padding-top: 45px;
  margin-top: 20px;
}

.notice-list, .notice-more, .pds-list, .pds-more {
  display: none;
}

.board-act .notice-list, .board-act .notice-more, .board-act .pds-list, .board-act .pds-more {
  display: block;
}

.tab {
  font-weight: 400;
  margin: 0;
  font-size: 1.4rem;
  position: absolute;
  top: 0;
}

.tab a {
  border: 1px solid #aaaaaa;
  border-radius: 5px 5px 0 0;
  color: #888888;
  background: #cccccc linear-gradient(180deg, #bbbbbb, #eeeeee);
  padding: 8px 10px;
  display: block;
}

.board-act .tab a {
  color: #ed552f;
  background: #ffffff;
  border-color: #ed552f #ed552f #ffffff #ed552f;
}

.notice-heading {
  left: 0;
}

.pds-heading {
  left: 73px;
}

.notice-list, .pds-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.notice-list li, .pds-list li {
  margin-top: 8px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.notice-list li::before, .pds-list li::before {
}

.notice-list a, .pds-list a {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex-grow: 1;
}

.notice-list time, .pds-list time {
  /* margin-left: auto; */
}

.notice-more, .pds-more {
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 8px;
}

.notice-more .icon-plus, .pds-more .icon-plus, .news-more .icon-plus {
  color: hsla(110, 50%, 50%, 1);
}



/* float를 사용한 방법 */
/* .notice-list li, .pds-list li {
  background-color: orange;
  margin-top: 8px;
  overflow: hidden;
} */

/* .notice-list li::before, .pds-list li::before {
  float: left;
  background-color: tomato;
} */

/* .notice-list a, .pds-list a {
  background-color: lime;
  float: left;
  width: 285px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
} */

/* .notice-list time, .pds-list time {
  background-color: skyblue;
  float: right;
} */

/* 새소식 */
.news {
  position: relative;
  margin-top: 20px;
}

.news::before {
  content: "";
  position: absolute;
  background: #cccccc linear-gradient(90deg, #bbbbbb, #fff);
  width: 80%;
  height: 1px;
  top: 35px;
  left: 0;
}

.news-heading {
  color: #ed552f;
  font-size: 1.5rem;
  margin: 0 0 35px 0;
}

.news-link {
  display: block;
}

.news-item {
  padding-left: 125px;
  position: relative;
  min-height: 100px;
}

.news-item-subject {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 400;
}

.news-item-brief {
  margin: 10px 0 0 0;
  line-height: 1.6;
}

.news-item-thumbnail {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

.news-item-thumbnail img {
  box-shadow: 0 15px 20px 2px #aaaaaa;
  display: block;
  margin: 0 0 20px 0;
}

.news-more {
  position: absolute;
  top: -8px;
  right: 0;
  padding: 8px;
}

/* 신규 이벤트 및 관련 사이트 */
.gradient-box {
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  padding: 10px;
  background: #cccccc linear-gradient(180deg, #bbbbbb, #eeeeee);
}

.event {
  position: relative;
  border-bottom: 1px solid #888888;
}

.event-heading, .related-heading {
  margin: 0 0 10px 0;
  font-size: 1.5rem;
}

.event-thumbnail, .event-brief {
  margin: 10px 0;
}

.point-color {
  color: #ed552f;
}

.event-thumbnail img{
  box-shadow: 8px 8px 0 0 #999999;
  border: 1px solid #888888;
}

.btn-event {
  position: absolute;
  top: 0;
  right: 0;
}

.btn-event-prev, .btn-event-next {
  width: 19px;
  height: 18px;
  border: 0;
  padding: 18px 0 0 0;
  background-image: url(./images/back_forward.png);
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
}

.btn-event-prev {
  background-position: 0 0;
}

.btn-event-next {
  background-position: 100% 0;
}

.related {
  padding-top: 10px;
}

.related-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
  border: 1px solid #888888;
  border-radius: 5px;
  background: #fff;
  height: 27px;
  overflow: hidden;
  transition-property: height, padding;
  transition-duration: 400ms;
  transition-delay: 200ms, 0ms;
  transition-timing-function: ease-in-out;
}

.related-list:hover, .related-list:focus {
  height: 147px;
  padding: 10px 0;
}

.related-list li {
  height: 27px;
  padding: 2px;
}

.related-list a {
  text-indent: 1em;
  /* 디스플레이 블록 */
  /* display: block;
  line-height: 25px; */

  /* 디스플레이 플렉스 */
  display: flex;
  align-items: center;
  height: 25px;
}



/* 슬로건 */
.slogan {
  background-color: orange;
  height: 10vh;
}

/* 푸터 */
.footer-bg {
  background-color: purple;
  width: 100vw;
  /* display: flex;
  justify-content: center; */
}

.footer {
  background-color: yellow;
  height: 10vh;
}
